@import "tailwindcss";

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 2px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #0f0f10;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 999px;
}

/* Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}