@import "tailwindcss";

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #0f0f10;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 999px;
}

/* Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.explore-menu-hr {
  margin: 10px 0;
   height: 1px;
   background-color: #e2e2e2;
   border: none;
}
